$mainColor: rgb(46, 85, 151);
$productContainerColor: beige;

@font-face {
    font-family: mikado;
    src:url('../assets/fonts/MikadoBold.otf')
}
@font-face {
    font-family: capriolaRegular;
    src:url('../assets/fonts/Capriola-Regular.ttf')
}