/*Clases para pagina "Nosotros*/
.aboutUs {
    font-size: $normalTextSize;
    margin: 40px 10px 40px 10px;
    @include tabletSmall {
        font-size: 0.8rem;
    }
}
.aboutUsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    padding: 20px;
}

.aboutUsSubcontainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    @include phoneLarge {
        display: flex;
        flex-direction: column;
    }
}
.aboutUsImageBanner {
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}
.aboutUsImage {
    max-width: 350px;
    margin-right: 50px;
    border-radius: 80%;
    @include tabletSmall {
        max-width: 250px;
    }
}