/*Elementos para el formulario*/
form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-weight: bold;
    div {
        display: flex;
        flex-direction: row;
        margin: 2px;
        align-items: center;
        @include phoneLarge {
            flex-direction: column;
        }
    }
}
label {
    @extend form;
    width: 100%;
}
input {
    border-style: solid;
    border-color: #e8e8e1;
    min-height: 50px;
    background-color: transparent;
    margin-top: 10px;
}
textarea {
    width: 100%;
    min-height: 300px;
    background-color: transparent;
    @extend input;
}
button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 90px;
    padding: 11px 20px 11px 20px;
    margin: 10px;
    background-color: black;
    font-weight: bold;
    font-size: $normalTextSize;
    color: $textColor;
    text-align: center;
    border-radius: 0%;
}
.formButtons {
    @include phoneLarge {
        flex-direction: row;
    }
}