/*Elementos para el main (Ubicacion de slideshow y productos)*/
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: $maxWidth;
    flex: 1 auto;
}
div figure div {
    @include phoneLarge {
        grid-column-start: 2;
        justify-items: start;
        align-items: start;
    }
}
/*Clases para el main*/
/*Banner*/
.carouselCaptionCapriola {
    font-family: capriolaRegular;
    font-size: 1.875rem;
    position: absolute;
    color: $textColor;
    top: 16%;
    left: 6%;
    max-width: 350px;
    @include tabletSmall {
        font-size: 1.5rem;
        max-width: 250px;
    }
    @include phoneLarge {
        font-size: 1rem;
        max-width: 150px;
    }
    @include phoneSmall {
        font-size: 0.8rem;
        max-width: 120px;
    }
}
.carouselCapriolaBebe {
    font-family: mikado;
    font-size: 7.5rem;
    font-weight: bold;
    position: absolute;
    color: #662d91;
    bottom: 2%;
    left: 6%;
    @include tabletSmall {
        font-size: 6rem;
    }
    @include phoneLarge {
        font-size: 4rem;
        bottom: 12%;
    }
    @include phoneSmall {
        font-size: 2.5rem;
        
    }
}
.carouselCapriolaBoy {
    @extend .carouselCapriolaBebe;
    color: #2e5596;
}
.carouselCapriolaGirl {
    @extend .carouselCapriolaBebe;
    color: #ad3863;
}
.carouselCapriolaAccessories {
    @extend .carouselCapriolaBebe;
    color: #cede00;
}
/*Galeria de productos*/
.title {
    border-style: solid;
    border-color: $mainColor;
    background-color: $mainColor;
    border-width: 3px;
    border-radius: 22px;
    color: $textColor;
    @include phoneLarge {
        font-size: $normalTextSize;
    }
}
.products {
    text-align: center;
    font-size: $normalTextSize;
    color: $mainColor;
    border-style: solid;
    border-color: #EAEAEA;
    border-radius: 8px;
    border-width: 1px;
    border-image-source: initial;
    background-color: $textColor;
    width: 220px;
    height: 350px;
    margin:10px;
    padding-top: 30px;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    @include phoneLarge {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 400px;
        max-height: 200px;
        padding-top: 15px;
    }
    @include phoneSmall {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        height: auto;
    }
}
.productContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    @include phoneLarge {
        height: auto;
    }
}
.productImage {
    text-align: center;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    border-radius: 10%;
    @include phoneLarge {
        max-width: 100px;
        border-radius: 10%;
        margin-left: 0;
    }
    @include phoneSmall {
        max-width: 85px;
    }
}
.productTextContainer {
    padding-left: 5px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 145px;
    border-radius: 10%;
    @include phoneLarge {
        height: auto;
        margin-bottom: 20px;
    }
}
.productDescription {
    padding-top: 10px;
    @include phoneLarge {
        margin-left: 20px;
    }
    @include phoneSmall {
        margin-left: 5px;
    }
}
.productPrice {
    padding-top: 10px;
    padding-bottom: 10px;
    @include phoneLarge {
        margin-left: 20px;
    }
    @include phoneSmall {
        margin-left: 5px;
    }
}
.productButton {
    margin-bottom: 5px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @include phoneLarge {
        margin-bottom: 0px;
    }
}
.productIcon {
    min-width: max-content;
}
.modalButton {
    display: block;
    min-width: 0;
    margin: auto;
    font-weight: bold;
    font-size: 0.8rem;
    color: $mainColor;
    max-width: max-content;
    cursor: pointer;
    &:hover {
        color: black;
    }
}
.modalHeader {
    background-color: $mainColor;
}
.modalImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalImage {
    max-height: 300px;
    max-width: 210px;
}
.modalFooter {
    @extend .modalHeader;
}
.modalProductDescription {
    padding-top: 10px;
    text-align: start;
    color: $mainColor;
    font-size: 2rem;
}
.modalParagraph {
    font-size: $normalTextSize;
    margin-top: 15px;
    margin-bottom: 15px;
}
.modalProductPrice {
    margin-top: 10px;
    margin-bottom: 10px;
    color: $mainColor;
    font-size: 2rem;
}
.modalFooterButton {
    @extend .modalButton;
    color: $textColor;
    border: none;
    max-width: max-content;
}