/*Elementos para el main (Ubicacion de slideshow y productos)*/
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: $maxWidth;
}
div figure div {
    @include phoneLarge {
        grid-column-start: 2;
        justify-items: start;
        align-items: start;
    }
}
/*Clases para el main*/
/*Galeria de productos*/
.title {
    border-style: solid;
    border-color: $mainColor;
    background-color: $mainColor;
    border-width: 3px;
    border-radius: 22px;
    color: $textColor;
    @include phoneLarge {
        font-size: $normalTextSize;
    }
}
.products {
    text-align: center;
    font-size: $normalTextSize;
    color: $mainColor;
    border-style: solid;
    border-color: #EAEAEA;
    border-radius: 8px;
    border-width: 1px;
    border-image-source: initial;
    background-color: $textColor;
    width: 220px;
    height: 350px;
    margin:10px;
    padding-top: 30px;
    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    @include phoneLarge {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 400px;
        max-height: 200px;
    }
    @include phoneSmall {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        height: auto;
    }
}
.productImage {
    text-align: center;
    min-width:150px;
    height: 150px;
    border-radius: 10%;
    @include phoneLarge {
        width: 150px;
        height: 150px;
        border-radius: 10%;
        margin-left: 0;
    }
    @include phoneSmall {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
        text-align: center;
    }
}
.mobileText {
    @include phoneSmall {
        padding-left: 10px;
    }
}
.productTextContainer {
    padding-left: 5px;
    background-color: rgb(212, 254, 254);
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 145px;
    border-radius: 10%;
    @include phoneLarge {
        height: auto;
        margin-bottom: 20px;
    }
}
.productDescription {
    padding-top: 10px;
    text-align: start;
    @include phoneSmall {
        min-width: 0px;
    }
}
.productPrice {
    padding-top: 10px;
    padding-bottom: 10px;
}
.productButton {
    margin-bottom: 5px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include phoneLarge {
        margin-bottom: 0px;
    }
}